.root-app > .application.ux .content.record-detail {
  display: flex;
  flex-direction: column;
  height: 100%;

  .ctrl {
    display: flex;

    > hs-button,
    > hs-checkbox {
      margin-right: 8px;
    }
  }

  .video {
    width: 100%;
    height: 100px;
    flex: 1;
    position: relative;

    video,
    > .mouse,
    canvas {
      position: absolute;
      left: 0;
      top: 0;
    }

    video,
    canvas {
      width: 100%;
      height: 100%;
    }
  }
}
