<div class="content record-detail">
  <div class="header">
    <h3>录屏标签：{{$ctrl.record.tag}}</h3>
    <p>开始时间：{{$ctrl.record.startTime | date:'yyyy-MM-dd HH:mm:ss'}}，结束时间：{{$ctrl.record.endTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
  </div>
  <div class="ctrl">
    <hs-button ng-click="$ctrl.togglePlay()" text="{{$ctrl.playing ? '暂停' : '播放'}}"></hs-button>
    <hs-button ng-click="$ctrl.stop()" text="停止"></hs-button>
    <hs-checkbox checked="$ctrl.showMouseTrack" on-change="$ctrl.onShowMouseTrackChange(value)" text="显示轨迹"></hs-checkbox>
    <hs-checkbox checked="$ctrl.showMouseHot" on-change="$ctrl.onShowMouseHostChange(value)" text="显示热图"></hs-checkbox>
  </div>
  <div class="video">
    <video></video>
    <div class="mouse">
      <canvas class="t" style="z-index: 10;"></canvas>
      <canvas class="h" style="z-index: 8;"></canvas>
    </div>
  </div>
</div>
